<div class="diretoriaindex">
<%= form_for(@directory, url: create_directory_path) do |f| %>

    <%= f.label :name %> 
    <%= f.text_field :name %><br />
    <%= f.label :description %>
    <%= f.text_field :description %><br />
    <%= f.submit %>
   
<% end %>
</div>
  