<h1> Requisições de fusāo </h1>
<br>

<% if !@fusion_asks.nil? %>
    <% @fusion_asks.each do |f| %>
        <h4>Diretoria: <%= f.directory.name%></h4>
        <h4>Solicitante: <%= f.user.email %></h4>
    <%end%>
<%else%>
    <h5>Ainda nao existem requisicoes de fusao </h5>
<% end %>