<section class="artigos">
<h3>Diretorias<%=image_tag("team.png", alt:"foto teste")%></h3>
    <div class="diretoriaindex">
        <% @directories.each do |directory| %>
            <div class="cadaDiretoria">
                <%= link_to directory.name, directory, :class =>"classlink"%><br>
                <%= link_to 'Remover', directory, :class =>"classlink", method: :delete, data: { confirm: 'Tem certeza?' }%><br>
        </div>
            <%end%>
        

    <%= link_to 'Nova diretoria', new_directory_path , :class =>"classlink"%>
    </div>
</section>
