<section class="artigos">
     <div class="diretoriaindex">
        <h1>Diretoria: <%= @directory.name %> </h1>

        <%if @user.directory_id.nil? %>
            <%= link_to 'Entrar em diretoria', enter_directory_path(:directory_id => @directory.id), :class =>"classlink", method: :post %>
        <% elsif @user.directory_id == @directory.id%>
            Voce faz parte dessa diretoria
        <% else %>
            <%= link_to 'Solicitar fusāo', fusion_ask_path(:directory_id => @directory.id, :user_id => @user.id), :class =>"classlink", method: :post%>
        <%end%>
        <h3>Membros:</h3>
        <% @users.each do |user| %>
        <div id="dirUsuario">
            <%= user.email %>
        </div>
        <%end%>
        <h3>Descriçāo:</h3>
        <%=@directory.description%>

        <%= link_to 'voltar', directories_path , :class =>"classlink"%>
        
        <%= render "fusion_ask_request"%>
    </div>
</section>
