<section class="artigos">
    <div class="containerindex">
        <h5>Editando pergunta</h5>

        <%= render 'form', question: @question %>

        <%= link_to 'Mostrar', @question , :class => "classlinkposts"%> 
        <%= link_to 'Voltar', questions_path , :class => "classlinkposts"%>
    </div>
</section>
