<section class="artigos">


  <h3>Perguntas<%=image_tag("question.png", alt:"foto teste")%></h3>
  


  <div class="containerindex">
    <p id="notice"><%= notice %></p>

    
        <% @questions.each do |question| %>
          <div class="listindex">
            <p><%= question.name %></p>
            <p><%= question.body %></p>
            <p>Usuário: <%= question.user.email %></p>
            <p><%= link_to 'Mostrar', question , :class => "classlink"%></p>
            <p><%= link_to 'Editar', edit_question_path(question), :class => "classlink" %></p>
            <p><%= link_to 'Remover', question, method: :delete, data: { confirm: 'Are you sure?' }, :class => "classlink" %></p>
          

            <%= link_to like_question_path(question), :class => "classlink",method: :put do %>
              Like
              <%= question.get_upvotes.size %>
            <% end %>
    
            <%= link_to dislike_question_path(question), :class => "classlink",method: :put do %>
              Dislike
              <%= question.get_downvotes.size %>
            <% end %>
          </div>
        <% end %>
 

    
  </div>
  <%= link_to 'Nova pergunta', new_question_path, :class => "classcriarpergunta"%>
  <br>
  <%= will_paginate @questions %>
  <br>

 
</section>
