<section class="artigos">
    <div class="containerindex">
        <h4>Nova pergunta</h4>

        <%= render 'form', question: @question %>

        <%= link_to 'Voltar', questions_path , :class => "classlink"%>
    </div>
</section>