<section class="artigos">
  <div class="containerindex">
      <p id="notice"><%= notice %></p>

      <p>
        <strong>Título:</strong>
        <%= @question.name %>
      </p>

      <p>
        <strong>Conteúdo:</strong>
        <%= @question.body %>
      </p>

      <p>
        <strong>Usuário:</strong>
        <%= @question.user.email %>
      </p>

      <%= form_for @question_comment do |form| %>
      
      <%= form.label :comente %>
      <%= form.text_field :body, id: :body %>
      <%= form.hidden_field :user_id, value: @user.id %>
      <%= form.hidden_field :question_id, value: @question.id %>

      <%= form.submit  %>

      <%end%>


      <% @comments.each do |comment| %>
        <%= comment.user.email %><br>
        <%= comment.body%><br>
      <%end%>


      <%= link_to 'Editar', edit_question_path(@question) , :class => "classlink"%> |
      <%= link_to 'Voltar', questions_path , :class => "classlink"%>
      
  </div>
</section>
