

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>
<section id="divsenha">
  <h2>Esqueceu a senha?</h2>

    <div class="field">

      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <div class="classforgot">
      <%= f.submit "Enviar instruções" %>
    </div>
    <div id="linklogin">
      <%= link_to "Voltar pro Login", new_session_path(resource_name), :class => "linklogin" %><br />
    <div>
</section>
<% end %>


