<%= form_for @question_comment do |form| %>
 
 <%= form.label :comente %>
 <%= form.text_field :body, id: :body %>
 <%= form.hidden_field :user_id, value: @user.id %>
 <%= form.hidden_field :post_id, value: @post.id %>

 <%= form.submit  %>

<%end%>
