<section class="artigos">
    <h1>Perfil</h1>
    <div class="containerindex">
        

        <%if !@user.directory_id.nil? %>
            <h3>Diretoria: <%= @user.directory.name %> </h3>
            <% if @user.director %>
                <h6>Cargo: Diretor</h6>
            <% else %>
                <h6>Cargo: Acessor</h6>
            <%end%>
        <%else%>
            <h3>Diretoria: </h3> Você ainda nāo estaá participando de uma diretoria <br>
            <%= link_to 'ver diretorias', directories_path , :class =>"classlink"%>
        <%end%>
        <h3>Células:</h3>
        <%if !@user.cells.nil? %>
            <% @user.cells.each do |c|%>
                <%=c.name%><br>
                <%= c.description %>
            <% end %>
        <%else%>
            <%= link_to 'ver células', cells_path , :class =>"classlink"%>
        <% end %>


        <h3>Meus artigos</h3>

        <% @posts.each do |post| %>
            <%= post.name %><br>
            <%= post.body %><br>
        <% end %>

        <%= link_to 'publicar um artigo', new_post_path , :class =>"classlink"%>


        <h3>Minhas perguntas</h3>
        <% @questions.each do |question| %>
            Título: <%= question.name %><br>
            <%= question.body %><br>
        <% end %>

        <%= link_to 'Fazer uma pergunta', new_question_path , :class =>"classlink"%>
    </div>
</section>

