<h4>Solicitacoes de entrar em projeto </h4>

<% @user_projects.each do |up| %>
    <%= up.user.email %>
    <% if !up.status %>
        <%= link_to 'aceitar', accept_project_requests_path(:user_project_id => up.id), method: :post %><br>
    <% else %>
        membro aceito
    <% end %>
<% end %>