<%= form_with(model: project, local: true) do |form| %>
  <% if project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :project_name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :project_description %>
  </div>

  <div class="field">
    <%= form.label :tecnologies %>
    <%= form.text_area :tecnologies, id: :project_tecnologies %>
  </div>

  <div class="field">
    <%= form.label :begining_date %>
    <%= form.datetime_select :begining_date, id: :project_begining_date %>
  </div>

  <div class="field">
    <%= form.label :expected_end_date %>
    <%= form.datetime_select :expected_end_date, id: :project_expected_end_date %>
  </div>

  <div class="field">
    <%= form.label :end_date %>
    <%= form.datetime_select :end_date, id: :project_end_date %>
  </div>

  <div class="field">
  <%= form.hidden_field :manager,id: :project_manager, value: @user.email %>
  
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
