<section class="artigos">
<h1>Editing Project</h1>

<%= render 'form', project: @project %>

<%= link_to 'Mostrar', @project , :class => "classlink"%> 
<%= link_to 'Voltar', projects_path , :class => "classlink"%>
</section>
