<section class="artigos">
<p id="notice"><%= notice %></p>

<h1>Projetos<%=image_tag("whiteboard.png", alt:"foto teste")%></h1>

      <th>Nome</th>
      <th>Descrição</th>
      <th>Tecnologias empregadas</th>
      <th>Data inicial</th>
      <th>Data final esperada</th>
      <th>Data final</th>
      <th>Coordenador</th>
      <th colspan="3"></th>
   
 

  <div="containerindex">
    <% @projects.each do |project| %>
      <tr>
        <td><%= project.name %></td>
        <td><%= project.description %></td>
        <td><%= project.tecnologies %></td>
        <td><%= project.begining_date %></td>
        <td><%= project.expected_end_date %></td>
        <td><%= project.end_date %></td>
        <td><%= project.manager %></td>
        <td><%= link_to 'Show', project %></td>
        <% if project.manager == @user.email %>
          <td><%= link_to 'Edit', edit_project_path(project) %></td>
          <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <%end%>
      </tr>
    <% end %>
    
  </div>
  <br><br><%= link_to 'New Project', new_project_path, :class =>"classlink"%>
</section>

<br>


