<section class="artigos">
<p id="notice"><%= notice %></p>
<%is_manager = @user.email == @project.manager%>
<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>

<p>
  <strong>Tecnologies:</strong>
  <%= @project.tecnologies %>
</p>

<p>
  <strong>Begining date:</strong>
  <%= @project.begining_date %>
</p>

<p>
  <strong>Expected end date:</strong>
  <%= @project.expected_end_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @project.end_date %>
</p>

<p>
  <strong>Manager:</strong>
  <%= @project.manager %><br>
  
  <strong>Members:</strong><br>
  <% @members.each do |m| %>
    member: <%= m.email %><br>
  <% end %>
</p>
<% if !@has_project %>
  <%= link_to 'Participar do projeto', enter_project_path(:project_id => @project.id, :user_id => @user.id), :class => "classlink", method: :post %> 
<% else %>
  Voce participa deste projeto
  <h3></h3>
<% end %>
<%= link_to 'Editar', edit_project_path(@project) , :class => "classlink"%> 
<%= link_to 'Voltar', projects_path , :class => "classlink"%>

<% if @user.email == @project.manager %>
  <%= render "enter_project_requests"%>
<%end%>

</section>
