

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div id="olhomexe">
  <%=image_tag("lobo.png", alt:"foto teste", class:"lobo")%>
  <%=image_tag("loboOlho.png", alt:"foto teste", class:"loboOlho")%>
  </div>
  
  <section id="divform">
  <div id="LogIn">
    <h2>LogIN</h2>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :lembre_de_mim %>
    </div>
  <% end -%>

  <div class="actions">
    <%= f.submit "Login" %>
  </div>
  <%= render "devise/shared/links" %>
  </section>
  
<% end %>


