<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @role.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @role.description %>
</p>

<% if current_user.role_id.nil? %>
  <%= link_to 'Entrar em cargo', enter_role_path(:role_id => @role.id), method: :post %>
<%end%>
<%= link_to 'Edit', edit_role_path(@role) %> |
<%= link_to 'Back', roles_path %>
