<section class="artigos">
    <div class="containerindex">
        <h3>Editar Artigo</h3>

        <%= render 'form', post: @post %>

        <%= link_to 'Mostrar', @post , :class => "classlink"%> |
        <%= link_to 'Voltar', posts_path , :class => "classlink"%>

    </div>
</section>
