<section class="artigos">

<p id="notice"><%= notice %></p>

<h1>Artigos<%=image_tag("article.png", alt:"foto teste")%></h1>

  <div class="containerindex">
   
    <p class="notice"><%= notice %></p>
    <% @posts.each do |post| %>
      <div class="listindex">
        <h3><%= post.name %></h3>
        <p><%= post.body %></p>
        <p>Usuário: <%= post.user.email %></p>
        <p><%= link_to 'Mostrar', post , :class =>"classlink" %></p>
        <p><%= link_to 'Editar', edit_post_path(post), :class =>"classlink" %></p>
        <p><%= link_to 'Remover', post, :class =>"classlink", method: :delete, data: { confirm: 'Are you sure?' } %></p>
        
        <%= link_to like_post_path(post), :class =>"classlink", method: :put do %>
          Like
          <%= post.get_upvotes.size %>
        <% end %>

        <%= link_to dislike_post_path(post), :class =>"classlink",method: :put do %>
          Dislike
          <%= post.get_downvotes.size %>
        <% end %>
      
      </div>
    <% end %>
    
    </div>
  



<%=  will_paginate @posts %>

<%= link_to 'Criar Artigo', new_post_path , :class => "classcriarartigo" %>

</section>
