<section class="artigos">
    <div class="containerindex">
        <h1>Novo Post</h1>

        <%= render 'form', post: @post , :class => "classlink"%>

        <%= link_to 'Back', posts_path , :class => "classlink"%>
        </div>

</section>
