<section class="artigos">
  <div class="containerindex">
    <p id="notice"><%= notice %></p>

    <p>
    <strong>Título:</strong>
    <%= @post.name %>
    </p>

    <p>
      <strong>Conteúdo:</strong>
      <%= @post.body %>
    </p>

    <p>
      <strong>Usuário:</strong>
      <%= @post.user.email %>
    </p>

    <%= render 'post_comments/form' %>

    <% @comments.each do |comment| %>
      <%= comment.user.email%><br>
      <%= comment.body%><br>
    <%end%> 
  <%= link_to 'Editar', edit_post_path(@post), :class => "classlink"%> 
  <%= link_to 'Voltar', posts_path , :class => "classlink"%>
  </div>
</section>
