/*reset*/
body,h1,h2,h3,h4,p,ul{
    margin: 0;
    padding: 0;
}


/*Sign_in*/

.container{
    height: 70px;
    background-color:#13334c;
    border-top: 3px solid #0a273e;
    display: flex;
    justify-content: flex-end;
    
    
    
    
}
#dirUsuario{
    color: #fafafa;
    margin: 10px 0;
}
.atualUsuario{
    height: 20px;
    margin: auto 10px;
    color: #fafafa;
    
    
    
}

.classlogout{
    margin: auto 10px;
    height: 16px;
    text-decoration: none;
    color: #fafafa;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.classlogout:hover{
    text-decoration: underline;
    transition-duration: 0.3s;
}
.container .logo{
    margin-top:auto;
    margin-bottom:auto;
    margin-left: 10px;
    margin-right: auto;
    height: 40px;
    width: 60px;
    
    
}
.container h1{
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 10px;
    color: #fafafa;
    
}

.classbutton{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #fafafa;
    padding: 10px;
    text-align: center;
    
    text-decoration: none;
    height: 16px;
    width: 70px;
    margin: auto 5px; 
    border-radius: 12px;
    
    
}

.classbutton:hover{
    color: #13334c;
    background-color: #fafafa;
    
    transition-duration: 0.3s;

}


#olhomexe{
    margin: 0 auto;
    width: 126.8px;
    display: flex;
}
.lobo{
    height:200px;
    z-index: 4;
    
}

.loboOlho{
    height:200px;
    position: relative;
    left: -126.8px;
    z-index: 3;
}

.lobo:hover{
    transition-delay: 10s;
    z-index: 2;
    transition-duration: 1.5s;
}
.loboOlho:hover{
    z-index: 5;
}
.notice{
    margin: 0;
}
#divform{
    border-radius: 5%;
    background-color: #13334c;
    padding: 10px;
    width: 315px;
    margin: 10px auto;
}

.new_user{
    height: 100vh;
    padding: 20px 0;
    background-image:url(fundoPoly.png);
    background-size: 100%;  
    background: cover;
    
}
#LogIn h2{
    padding: 10px;
    font-size: 2em;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #fafafa;
}
#SignUp{
    text-align: center;
}

.field{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    margin-bottom: 20px;
    
}
.field label{
    color: #fafafa;
}
.field input{
    
    
}


.actions{
    text-align: center;
}

.actions input{
    height: 30px;
    width: 80px;
    background-color: #005792;
    color: #fafafa;
    border-radius: 10px;
}
.actions input:hover{
    background-color: #fafafa;
    color: #13334c;
    transition-duration: 0.3s;
    cursor: pointer;

    border-radius:10px;
    
}

.linksignup{
    text-decoration: none;
    display: flex;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #fafafa;
    width: 75px;
    margin: 0 auto;
    font-size: 14px;

}
.forgotpassword{
    margin-left: 5px;
    width: 120px;
    text-decoration: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #fafafa;
    font-size: 14px;

}
.register{
    width: 125px;
    margin: 10px auto;
}

 

/*Forgot_Password*/


#divsenha{
    padding: 10px;
    border-radius: 10px;
    width: 40%;
    background-color: #13334c;
    
    margin: 0 auto;

}

#divsenha h2{
    margin: 10px auto;
}

body h2{
    text-align: center;
    color : #fafafa;
    
}

.classforgot{
    width: 120px;
    margin: 10px auto;

}
.classforgot input{
    background-color: #005792;
    color: #fafafa;
    border: 2px solid #005792;
    border-radius: 7px;
    
}
.classforgot input:hover{
    transition-duration: 0.3s;
    background-color: #fafafa;
    color: #13334c;
    border: 2px solid #ffffff;
}
.linklogin{
    text-decoration: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #fafafa;
    width: 100px;
    
}

.linklogin:hover{
    text-decoration: underline;

}
#linklogin{
    width: 120px;
    margin: 10px auto;
    padding: 5px;
    
}


/*Artigos */

.artigos{
    padding: 10px 0;
    min-height:100vh;
    max-height: 100%;
    text-align: center;
    background-image: url(fundoPoly.png);
    background-attachment: fixed;
    
    
}

.artigos h1{
    padding-top:12px; 

    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #fafafa;
    font-size: 3em;
}
.artigos h3{
    padding-top:12px; 
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #fafafa;
    font-size: 3em;
    

}

.artigos h1 img{
    margin: 0 10px;
    position: relative;
    left: 30px;


}
.artigos h3 img{
    margin: 0 10px;
    position: relative;
    left: 30px;

    
    
}

.classlink{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0 10px;
    text-decoration: none;
    color: #fafafa;
}



.classlink:hover{
    text-decoration: underline #fafafa;
    animation-duration: 0.3s;
}

.classcriarartigo{
    text-align: center;
    width: 80px;
    background-color: #13334c;
    padding: 10px;
    margin: 0px;
    text-decoration: none;
    color: #fafafa;
    border-radius: 10px;

}


.classcriarartigo:hover{
    background-color: #fafafa;
    color: #13334c;
    transition-duration: 0.3s;
    border-radius: 10px;
}


.containerindex{
    text-align: center;
    max-width: 500px;
    margin: 16px auto;
    padding: 10px 0;
    border-radius: 20px;
    background-color: #13334c;
    
}
.containerindex p{
    color: #fafafa;
    margin: 10px auto;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.containerindex h3{
    color: #fafafa;
    font-size: 25px;
    margin: 10px auto;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.containerindex h4{
    width: 180px;
    color: #fafafa;
    font-size: 25px;
    margin: 10px auto;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.containerindex h5{
    width: 130px;
    color: #fafafa;
    font-size: 25px;
    margin: 10px auto;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.containerindex h6{
    width: 130px;
    color: #fafafa;
    font-size: 16px;
    margin: 10px auto;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.containerindex form{
    margin-bottom: 10px;
}
.listindex{
    padding-bottom: 10px;
    margin: 0 auto;
    text-align: center;
    border-bottom: 2px solid #005792;
    

    
}
.listindex p:first-child{
    border-bottom: 2px solid #005792;
    font-size: 1.5em;
}
.listindex:last-child{
    margin: 0 auto;
    text-align: center;
    border: 0px;

}
.listindex p{
    color: #fafafa;
    word-break: break-all;
    max-width: 250px;
    margin: 10px auto;
}

.listindex h3{
    color: #fafafa;
    font-size: 1.5em;
    max-width: 200px;
    margin: 10px auto;
    border-bottom:3px solid #005792;
    border-radius: 3px;
}
.new_post_comment{
    max-width: 300px;
    margin: 0 auto;
}

.new_post_comment input[name="commit"]{
    margin: 10px;
    border: 2px solid #005792;
    
}
.new_post_comment label{
    color: #fafafa;
}
/* QUESTION */


.new_question_comment{
    color: #fafafa;
}
.new_question_comment label{
    color: #fafafa;
}

.classcriarpergunta{
    background-color: #13334c;
    width: 16px;
    margin: 10px auto;
    text-decoration: none;
    color: #fafafa;
    padding: 10px;
    border-radius: 10px;

}
.classcriarpergunta:hover{
    background-color: #fafafa;
    color: #13334c;
    transition-duration: 0.3s;
    border-radius: 10px;
}

/*Diretoria*/


.cadaDiretoria{
    padding: 10px 0;
    margin: 30px auto;
    text-align: center;
    width:300px;
    border-radius: 10px;
    background-color: #005792;
}

.cadaDiretoria p:first-child{
    color: #fafafa;
    font-size: 2em;
    max-width: 200px;
    margin: 10px auto;
    border-bottom:2px solid #13334c;
    
}

.cadaDiretoria p:nth-child(2){
    color: #fafafa;
    font-size: 1.25em;
    max-width: 200px;
    margin: 10px auto;
    
}

.diretoriaindex{

    padding: 10px 0;
    margin: 10px auto;
    text-align: center;
    width:500px;
    border: 2px solid #005792;
    background-color: #13334c;
    border-radius: 16px;
}

.new_directory input{
        margin: 10px auto;
    }

.new_directory input[name="directory[name]"]{
    margin-left: 35px;
}

.new_directory label[for="directory_name"]{
}

.pagination{
    margin: 20px auto;
}

.pagination [rel="next"]{
    color: #fafafa;
    text-decoration: none;
}

.pagination [rel="prev"]{
    color: #fafafa;
    text-decoration: none;
}

.previous_page{
    text-decoration:none;
    color: #fafafa;

}

.previous_page disabled{
    text-decoration: none;
}
.next_page{
    text-decoration: none;
    color: #fafafa;
}

.current{
    color: #fafafa;
}