<section class="artigos">
    <div class="containerindex">
        <h1>Editando célula</h1>

        <%= render 'form', cell: @cell , :class =>"classlink"%>

        <%= link_to 'Mostrar', @cell , :class =>"classlink"%> 
        <%= link_to 'Voltar', cells_path , :class =>"classlink"%>
    </div>
</section>
