<section class="artigos">
<p id="notice"><%= notice %></p>

<h1>Células<%=image_tag("connection.png", alt:"foto teste")%></h1>
  <div class="diretoriaindex">
    
      
        <% @cells.each do |cell| %>
          <div class="cadaDiretoria">
            <p><%= cell.name %></p>
            <p><%= cell.description %></p>
            <p><%= link_to 'Mostrar', cell , :class => "classlink"%></p>
            <p><%= link_to 'Editar', edit_cell_path(cell) , :class => "classlink"%></p>
            <p><%= link_to 'Remover', cell, :class => "classlink", method: :delete, data: { confirm: 'Are you sure?' } %></p>
          </div>
        <% end %>
      
    
  

  <%= link_to 'Nova célula', new_cell_path, :class => "classlink"%>
  </div>
</section>
