<section class="artigos">
    <div class="containerindex">
        <h1>New Cell</h1>

        <%= render 'form', cell: @cell , :class =>"classlink"%>

        <%= link_to 'Back', cells_path , :class =>"classlink" %>
    </div>
</section>
