<section class="artigos">

    <p id="notice"><%= notice %></p>
  <div class="containerindex">
    <p>
      <strong>Name:</strong>
      <%= @cell.name %>
    </p>

    <p>
      <strong>Description:</strong>
      <%= @cell.description %>
    </p>

        

    <% if !@has_cell %>
      <%= link_to 'Participar de célula', participate_cell_path(:cell_id => @cell.id, :user_id => @user.id), :class => "classlink", method: :post %> 
    <%else%>
      Você participa desta célula
    <%end%>
    <%= link_to 'Editar', cell_path(@cell), :class => "classlink" %> 
    <%= link_to 'Voltar', cells_path , :class => "classlink"%>
  </div>
</section>
