<!DOCTYPE html>
<html>
  <head>
    <title>ProjetoPS</title>
    <%= csrf_meta_tags %>
    
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <nav class="container">
    <%=image_tag("logo.png", alt:"foto teste", class:"logo")%>
    <% if user_signed_in? %>
      <%= link_to('Perfil',home_path, :class => "classbutton") %>
      <%= link_to('Artigos', posts_path, :class =>"classbutton") %>
      <%= link_to('Perguntas', questions_path, :class =>"classbutton") %>
      <%= link_to('Diretorias', directories_path, :class => "classbutton") %>
      <%= link_to('Células', cells_path, :class =>"classbutton") %>
      <%= link_to('Projetos', projects_path, :class =>"classbutton") %>
    <div class="atualUsuario">
      <%= current_user.email%>
      <%= link_to('Logout', destroy_user_session_path, method: :delete, :class => "classlogout") %>
    </div>
    <%end%>
    </nav>
    
    <%= yield %>
    
  </body>
</html>
